/* 自定义样式 */
.mt10{
  margin-top: 10px;
}

.userForm .input-group{
  margin-top: 10px;
}

/* 发布文章页 */
.articleAdd .input-group{
  margin-top: 10px;
} 

.articleAdd .content{
  margin-top: 10px;
}

.articleAdd .reset{
  width: 50%;
  display: block;
  margin: 10px auto;
  border:none;
  font-size: 20px;
  color:#fff;
  background: #09c;
}
.articleAdd .submit{
  width: 50%;
  display: block;
  margin: 10px auto;
  border:none;
  font-size: 20px;
  color:#fff;
  background: #09c;
}


/* 文章列表 */
.articleList img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/* 图片宽高 */
.editArticleImg{
  width: 100%;
}

/* 分页居中 */
.center{
  margin-left:33%;
  position: fixed;
  bottom: 0;
 
}
/* 管理员登录页面   登录字体样式 */
.headermin{
  text-align: center;
  line-height:150px;
  color: peru;
}
/* 发布友情链接 */
.sendAdd .input-group{
  margin-top: 10px;
} 

.sendAdd .content{
  margin-top: 10px;
}

.sendAdd .reset{
  width: 50%;
  display: block;
  margin: 10px auto;
  border:none;
  font-size: 20px;
  color:#fff;
  background: #09c;
}
.sendAdd .submit{
  width: 50%;
  display: block;
  margin: 10px auto;
  border:none;
  font-size: 20px;
  color:#fff;
  background: #09c;
}
#header{
  background: salmon;
  font-size:25px;
  color:rgb(221, 218, 33);
}
