<% include ./header %>
<div class="jumbotron container" id="header">
    <h1> 欢迎访问 QQ个性签名后台管理系统</h1>
    <p>...</p>
    <p>
        <a class="btn btn-primary btn-lg" href="/test" role="button">注册管理员</a>
    </p>
</div>
<% include ./footer %>
                   
