<% include ./header %>

<!-- 表单 -->
<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">

            <form action="/admin/loveInsert" class="userForm" method="POST">
                <div class="input-group">
                    <span class="input-group-addon">类别排序</span>
                    <input type="text" class="form-control" name="order" value="0">
                </div>
                <div class="input-group">
                    <span class="input-group-addon">类别名称</span>
                    <input type="text" class="form-control" name="name">
                </div>
                <div class="input-group">
                    <span class="input-group-addon">类别介绍</span>
                    <input type="text" class="form-control" name="description">
                </div>
                <div class="input-group">
                    <span class="input-group-addon">链接地址</span>
                    <input type="text" class="form-control" name="dizhi">
                </div>
                <div class="input-group">
                    <input type="submit">
                </div>
            </form>


        </div>
        <div class="col-md-4"></div>
    </div>

</div>
<!-- 表单 end -->









<% include ./footer %>